* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  list-style-type: none;
}

@mixin d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #e3edf7;
}